html {
    background-color: dodgerblue;
}

.htitle {
    font-size: 1rem;
    }

.top-headline {
    padding: 5px;
    background-color: green;
    text-align: center;
    border-style: solid;
    border-color: crimson;
    border-width: thick;
    border: 10px 10px;
    }

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: green;
    justify-content: center;
    }

.home, .resume, .contact {
    background-color: green;
    font-weight: bold;
    text-decoration: underline;
}


.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 150px;
    height: 200px;
}



.para1 {
    background-color: rgb(11, 120, 223);
}

.resumebox {

    border: solid 1px black;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;

}

.jobs {

    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}





@media (min-width: 768px) and (max-width: 1024px) {

    .navbar {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: green;
        justify-content: center;
        }

    }

    @media (min-width: 1025px) and (max-width: 2456px) {

        .navbar {

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            background: green;
            justify-content: space-between;
            max-height: auto;
            max-width: auto;
            }

        .home {
            float: left;
        }

        .contact {
            float: right;
        }
    
        .top-headline {

            max-height: auto;
            max-width: auto;

        }
        }

}